<div class="add-course-container">
    <h2>Ajouter un cours</h2>
    <form (ngSubmit)="addCourse()" class="add-course-form">
      
        <label for="title">Titre:</label>
        <input type="text" id="title" [(ngModel)]="newCourse.title" name="title" required />
      
      
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="newCourse.description" name="description" required></textarea>
      
      
        <label for="duration">Duree:</label>
        <input type="number" id="duration" [(ngModel)]="newCourse.duration" name="duration" required />
      
      
        <label for="image">Image:</label>
        <input type="file" (change)="onFileSelected($event)">
      
      <button type="submit">Ajouter</button>
    </form>
  </div>
  