.edit-course-container {
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-course-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.edit-course-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #343a40;
}

.edit-course-form input,
.edit-course-form textarea {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.edit-course-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.edit-course-form button:hover {
  background-color: #0056b3;
}
